<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ohtu miniprojekti</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Kotisivu</h1>
        <a href="/articles/new">Add article</a>
        |
        <a href="/books/new">Add book</a>
        |
        <a href="/inproceedings/new">Add inproceedings</a>
        |
        <a href="/booklets/new">Add booklet</a>
        |
        <a href="/inbooks/new">Add inbook</a>
        |
        <a href="/bibtex">Download BibTeX</a>
        
        <br></br>
        <br></br>
        
        <form action="/" method="get">
            Search by tag:
            <input type="text" name="tag" id="search-box"></input>
            <input type="submit" value="Search" id="search-submit"></input>
        </form>
        <form action="/" method="get">
            <input type="submit" value="Show all"></input>
        </form>
        
        <br></br>
        
        <div th:if="${not #lists.isEmpty(aList)}">
             <h3>Articles</h3>
            <table>
                <thead>
                  <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Year</th>
                    <th>Tag</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="article : ${aList}">
                    <td th:text="${article.author}"></td>
                    <td th:text="${article.title}"></td>
                    <td th:text="${article.journal}"></td>
                    <td th:text="${article.year}"></td>
                    <td th:text="${article.tag}"></td>
                    <td><a th:href="@{/articles/delete/{id}(id=${article.id})}">Delete</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${#lists.isEmpty(aList)}">
            <h3>No articles added yet</h3>
        </div>
        
        <br></br>
        
        <div th:if="${not #lists.isEmpty(bList)}">
            <h2>Books</h2>
            <table>
                <thead>
                  <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>Tag</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="book : ${bList}">
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.tag}"></td>
                    <td><td><a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a></td></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${#lists.isEmpty(bList)}">
            <h3>No books added yet</h3>
        </div>
        
       <br></br>
       
        <div th:if="${not #lists.isEmpty(iList)}">
            <h2>Inproceedings</h2>
            <table>
                <thead>
                  <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Booktitle</th>
                    <th>Year</th>
                    <th>Tag</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="inproceedings : ${iList}">
                    <td th:text="${inproceedings.author}"></td>
                    <td th:text="${inproceedings.title}"></td>
                    <td th:text="${inproceedings.booktitle}"></td>
                    <td th:text="${inproceedings.year}"></td>
                    <td th:text="${inproceedings.tag}"></td>
                    <td><td><a th:href="@{/inproceedings/delete/{id}(id=${inproceedings.id})}">Delete</a></td></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${#lists.isEmpty(iList)}">
            <h3>No inproceedings added yet</h3>
        </div>
       
       <br></br>
        
        <div th:if="${not #lists.isEmpty(blList)}">
            <h2>Booklets</h2>
            <table>
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="booklet : ${blList}">
                    <td th:text="${booklet.title}"></td>
                    <td><td><a th:href="@{/booklets/delete/{id}(id=${booklet.id})}">Delete</a></td></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${#lists.isEmpty(blList)}">
            <h3>No booklets added yet</h3>
        </div>
       
       <br></br>
       
        <div th:if="${not #lists.isEmpty(ibList)}">
            <h2>Inbooks</h2>
            <table>
                <thead>
                  <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Chapter</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>Tag</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="inbook : ${ibList}">
                    <td th:text="${inbook.author}"></td>
                    <td th:text="${inbook.title}"></td>
                    <td th:text="${inbook.chapter}"></td>
                    <td th:text="${inbook.publisher}"></td>
                    <td th:text="${inbook.year}"></td>
                    <td th:text="${inbook.tag}"></td>
                    <td><td><a th:href="@{/inbooks/delete/{id}(id=${inbook.id})}">Delete</a></td></td>
                  </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${#lists.isEmpty(ibList)}">
            <h3>No inbooks added yet</h3>
        </div>
       
        
    </body>
</html>
